body::-webkit-scrollbar {
  display: none;
}
body{
  background-image: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2548.jpg?t=st=1696501955~exp=1696502555~hmac=d7e91b496cbb0fa641b31372951708120ba8afdd5c6e1e055eeb0d3d2d837159');
  background-repeat: no-repeat;
  background-size: cover;

}
